<ion-view title="Carlo Cortez" id="page3" style="background-color:#FAFA55;">
  <ion-content padding="true" class="has-header">
    <ion-list id="carloCortez-list2">
      <ion-item class="item-thumbnail-left calm" id="carloCortez-list-item18" ui-sref="snapchat()">
        <img src="img/shgRS2kyRR2AHHK39ADV_download.jpg">
        <h2calm>Carlo Cortez
          <p>IT Specialist, MVP Company</p>
        </h2calm>
      </ion-item>
    </ion-list>
    <div id="carloCortez-markdown4" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Name: Carlo Cortez</p>

      <p style="color:#000000;">Address: St. Jude Village, City of San Fernando Pampanga</p>

      <p style="color:#000000;">Date of BIrth: March 23, 1998</p>

      <p style="color:#000000;">Contact: 09253514552</p>
    </div>
  </ion-content>
</ion-view>