<ion-view title="Sam Tongol" id="page5" style="background-color:#D6D64C;">
  <ion-content padding="true" class="has-header">
    <ion-list id="samTongol-list4">
      <ion-item class="item-thumbnail-left" id="samTongol-list-item20">
        <img src="img/Ni05dJ05S3aDwFHpvjR2_images2.jpg">
        <h2>Sam Tongol</h2>
        <p>IT Specialist</p>
      </ion-item>
    </ion-list>
    <div id="samTongol-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name: Shaireen Mae Tongol</p>

      <p style="color:#000000;">Address: San Simon, Pampanga</p>

      <p style="color:#000000;">Date of Birth: October 09, 1998</p>

      <p style="color:#000000;">Contact: 09253514755</p>
    </div>
  </ion-content>
</ion-view>