<ion-view title="Sarah Abdeen" id="page4" style="background-color:#D8E95A;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sarahAbdeen-list3">
      <ion-item class="item-thumbnail-left" id="sarahAbdeen-list-item19">
        <img src="img/PACS31EQn6CDAjr9aYjy_x--i_ils_reasonably_small.jpg">
        <h2>Sarah Abdeen</h2>
        <p>IT Specialist, Twist Company</p>
      </ion-item>
    </ion-list>
    <div id="sarahAbdeen-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name: Sarah Abdel Hamid Abdeen</p>

      <p style="color:#000000;">Address: 081 Purok 1 Balantacan Lubao, Pampanga</p>

      <p style="color:#000000;">Date of Birth: February 07, 1999</p>

      <p style="color:#000000;">Contact: 09558715203</p>
    </div>
  </ion-content>
</ion-view>