<ion-view title="Sherina Pena" id="page6" style="background-color:#E1E65A;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sherinaPena-list5">
      <ion-item class="item-thumbnail-left" id="sherinaPena-list-item21">
        <img src="img/tmrxN3hlSW6lWs41zIpR_images3.jpg">
        <h2>Sherina Pena</h2>
        <p>IT Specialist, MVP Company</p>
      </ion-item>
    </ion-list>
    <div id="sherinaPena-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name: Sherina Ann Pena</p>

      <p style="color:#000000;">Address: Sto Cristo Guagua Pampanga</p>

      <p style="color:#000000;">Date of Birth: July 23, 1999</p>

      <p style="color:#000000;">COntact: 09558722665</p>
    </div>
  </ion-content>
</ion-view>