<ion-view title="Snapchat" id="page1" style="background-color:#D2E43B;">
  <ion-content padding="true" class="has-header">
    <form id="snapchat-form1" class="list">
      <label class="item item-input" id="snapchat-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div id="snapchat-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
      <ion-item class="item-avatar item-icon-right calm" id="snapchat-list-item14" ui-sref="carloCortez()">
        <h2calm>Carlo Cortez
          <p>@carlocrtz</p>
          <i class="icon ion-social-snapchat"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="snapchat-list-item15" ui-sref="sarahAbdeen()">
        <h2>Sarah Abdeen</h2>
        <p>@sarahtadeo</p>
        <i class="icon ion-social-snapchat-outline"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right calm" id="snapchat-list-item16" ui-sref="samTongol()">
        <h2calm>Sam Tongol
          <p>@samtongol_</p>
          <i class="icon ion-social-snapchat"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="snapchat-list-item17" ui-sref="sherinaPena()">
        <h2>Sherina Pena</h2>
        <p>@penasherina_</p>
        <i class="icon ion-social-snapchat-outline"></i>
      </ion-item>
    </form>
  </ion-content>
</ion-view>